# Build outputs
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider / ReSharper
.idea/
*.DotSettings.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.txt
*.etl

# Custom build/package outputs
out/

# MSIX / AppX packaging outputs
*.msix
*.msixbundle
*.msixupload
*.appx
*.appxbundle
*.appxupload
*.cer
DupFree.Package/

